#cardequip .tabelaEqpm td {
  padding: 1% 2.5%;
  display: flex;
  align-items: center;
  justify-content: left;
}

#cardequip .tabelaEqpm th {
  padding: 1% 2.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cardequip .linhaTabela {
  width: 60vw;
  background-color: #dceee8;
}

#cardequip .id {
  margin-left: -5%;
  font-weight: bold;
}

#cardequip .modelo {
  margin-left: 4%;
}

#cardequip .fabricante {
  margin-left: 5%;
}

#cardequip .data {
  width: 10vw;
  margin-right: -4%;
}

#cardequip .consumo {
  margin-right: -3%;
}

#cardequip .valor {
  margin-right: -2%;
}
#cardequip .check {
  margin-left: -3%;
}

#cardequip input {
  display: flex;
  align-items: center;
  justify-content: center;
}
