main {
  width: 98vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 25px;
}

.grafico {
  /* background-color: black;
  border-radius: 75px; */
  /* width: 50%; */
  /* margin: 25px; */
}

.graficoLine {
  grid-column-start: 1;
  grid-column-end: 3;
}
